<mat-toolbar>Menús</mat-toolbar>

<div class="example-container mat-elevation-z8">

  <router-outlet></router-outlet>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar menú">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idMenu">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idMenu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="icono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Icono </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.icono}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.url}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" [routerLink]="['edicion', row.idMenu]">Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row.idMenu)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">

    </mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>
</div>

<br/>

<button mat-fab color="accent" style="float: right" routerLink='/menu/nuevo'>
  <mat-icon>create</mat-icon>
</button>
